.button {
  font-family: "manrope", sans-serif;
  font-size: 16px;
  background-color: white;
  color: black;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;

  border: none;
  border-radius: 6px;
}
