h1 {
  color: #FFD15B !important;
  font-family: "anton", sans-serif;
  font-size: 45px;
}
h2 {
  color: black;
  font-family: "anton", sans-serif;
  font-size: 20px;
}
p {
  font-family: "manrope", sans-serif;
  font-size: 16px;
  color: black;
}
